---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - power.k8s.local
  resources:
  - nodepowergroups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - power.k8s.local
  resources:
  - nodepowergroups/finalizers
  verbs:
  - update
- apiGroups:
  - power.k8s.local
  resources:
  - nodepowergroups/status
  verbs:
  - get
  - patch
  - update
